{% extends 'base.html' %}
{% load static %}
{% block content %}
		<!-- Slider Area -->
		<section class="slider">
			<div class="slick-slideshow">
				<div class="slick-custom"><img src="{% static 'img/slider-img/slide1.png' %}" alt="Slide 1"></div>
				<div class="slick-custom"><img src="{% static 'img/slider-img/slide2.png' %}" alt="Slide 2"></div>
				<div class="slick-custom"><img src="{% static 'img/slider-img/slide3.jpg' %}" alt="Slide 3"></div>
			</div>
		</section>
		<!--/ End Slider Area -->
		
		
	   
		<!-- Start Feautes -->
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>OUR PRODUCT PORTFOLIO</h2>
							<img src="{% static 'img/section-img.avif' %}" alt="#">
							<!-- <img src="{% static 'img/section-img.png' %}" alt="#"> -->
							<p>The products of the company speak for themselves with their flawless quality & high standards of workability.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<a href="/products/Patient%20Monitoring%20System/">
									<img src="{% static 'img/pfolio/monitor.png' %}" alt="product-img">
								</a>
							</div>
							<a href="/products/Patient%20Monitoring%20System/" class="textUnderline"><h3>Multipara Patient Monitor</h3></a>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<a href="/products/Syringe%20&%20Infusion%20Pumps/">
									<img src="{% static 'img/pfolio/infusion-pump.png' %}" alt="product-img">
								</a>
							</div>
							<a href="/products/Syringe%20&%20Infusion%20Pumps/" class="textUnderline"><h3>Infusion Pump</h3></a>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features last">
							<div class="signle-icon">
								<a href="/products/Bio%20Chemistry%20Analyzer/">
									<img src="{% static 'img/pfolio/AC-_360.png' %}" alt="product-img">
								</a>
							</div>
							<a href="/products/Bio%20Chemistry%20Analyzer/" class="textUnderline"><h3>Bio Chemistry Analyzer</h3></a>
						</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Feautes -->

		<!-- Start Fun-facts -->
		<div id="fun-facts" class="fun-facts section overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-simple-smile"></i>
							<div class="content">
								<span class="counter">4379</span>
								<p>Happy Customers</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-user-alt-3"></i>
							<div class="content">
								<span class="counter">100</span>
								<p>Dealers</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-table"></i>
							<div class="content">
								<span class="counter">09</span>
								<p>Years of Experience</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Fun-facts -->
		
		<!-- Start Why choose -->
		<section class="why-choose section bg-grey" >
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="content-left">
							<h3>Our Mision</h3>
							<p>As a leading manufacturer of <strong>Critical Care and ICU</strong> equipment, our mission is to enhance patient care by delivering high-quality, reliable, and innovative medical solutions.</p>
							<p>we are committed to maintaining the highest standards of safety, performance, and regulatory compliance.  </p>
							<p>Focus on continuous research and technological advancement</p>
							<p>Strive to empower healthcare professionals by providing:</p>
							<ul class="list">
								<li><i class="fa fa-caret-right"></i>State-of-the-art equipment</li>
								<li><i class="fa fa-caret-right"></i>Tools to improve patient outcomes</li>
								<li><i class="fa fa-caret-right"></i>Support for life-saving interventions</li>
							</ul>
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12 block-img">
						
						<img src="{% static 'img/slider-img/mission.jpg' %}" alt="mision">
					</div>
				</div>
			</div>
		</section>
		<section class="why-choose section" >
			<div class="container">
				<!-- mission -->
				<div class="row">
					<div class="col-lg-6 col-12 block-img">
						<img src="{% static 'img/slider-img/vision.jpg' %}" alt="vision">
					</div>
					<div class="col-lg-6 col-12">
						
						<!-- Start Choose right -->
						<div class="content-left">
							<h3>Our Vision</h3>
							<p>Our vision is to be a global leader in the manufacturing of critical care and ICU equipment, setting new benchmarks in quality, innovation, and patient safety. We are committed to advancing healthcare technology through continuous research and development, ensuring that cutting-edge medical solutions are accessible worldwide. </p>
							<p> With unwavering dedication to excellence, we uphold the highest compliance standards, including <strong>ISO 9001:13485, CDSCO, and CE certifications</strong>, ensuring our products are not just reliable, and qualitative but transformative.</p>
							
						</div>
						
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why choose -->
		

		<!-- start-brand-slider -->
		<section class="client section bg-blue">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>OUR CLIENT</h2>
							<img src="{% static 'img/section-img.avif' %}" alt="#">
							<!-- <img src="{% static 'img/section-img.png' %}" alt="#"> -->
						</div>
						<div class="testimonial">
							<div class="testimonial__item">
								<img src="{% static 'img/clients/10.Base-Hospital-Delhi-Cantt.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/10.Base-Hospital-Delhi-Cantt.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/4.GTB-Hospital-Delhi.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/4.GTB-Hospital-Delhi.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/5.RML-Hospital-Lucknow-Delhi.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/5.RML-Hospital-Lucknow-Delhi.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/6.Indo-Tibetan-Border-Police-Force-Hospital.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/6.Indo-Tibetan-Border-Police-Force-Hospital.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/7.CRPF-designated-hospitals.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/7.CRPF-designated-hospitals.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/agra-medical-college.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/agra-medical-college.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/Armed-Force-Medical-Store-Department.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/Armed-Force-Medical-Store-Department.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/esi.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/esi.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/railway.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/railway.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/Gujarat-Medical-Education-Research-Society.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/Gujarat-Medical-Education-Research-Society.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/hal.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/hal.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/Indian-Space-Research-Organisation.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/Indian-Space-Research-Organisation.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/Indira-Gandhi-Medical-College.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/Indira-Gandhi-Medical-College.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/medsci.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/medsci.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/noida-international-insititute.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/noida-international-insititute.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/Post-Graduate-Institute-of-Medical-Education-Research.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/Post-Graduate-Institute-of-Medical-Education-Research.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/clients/tanda-medical-college.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/clients/tanda-medical-college.png' %}" class="testimonial_img"/> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	  <!-- end-brand-slider -->
		
	  <!-- Service slider start -->
	  <section class="services section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>What We Offer</h2>
						<img src="{% static 'img/section-img.avif' %}" alt="#">
						<!-- <img src="{% static 'img/section-img.png' %}" alt="#"> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<div class="service-icon"><i class="fa fa-cogs" aria-hidden="true"></i></div>
						<h4>Product Development</h4>
						<p>Designing and prototyping custom medical devices tailored to client needs.
							Research and development (R&D) for new medical technologies.
							Collaboration with healthcare providers to design user-friendly equipment.
						</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<div class="service-icon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
						<h4>Equipment Servicing</h4>
						<p>On-site and off-site maintenance of medical equipment.
							Scheduled servicing to ensure optimal performance.
							Calibration and certification of devices.
						</p>	
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<div class="service-icon"><i class="fa fa-wrench" aria-hidden="true"></i></div>
						<h4>Installation Training</h4>
						<p>On-site setup and configuration of devices.
							Hands-on training for healthcare professionals and technicians.
							User manuals and video tutorials for product usage.
						</p>	
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<div class="service-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
						<h4>Quality Assurance</h4>
						<p>Functional testing to ensure product reliability.
							Stress and performance testing of medical equipment.
							Sterilization and hygiene validation services.
						</p>	
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<div class="service-icon"><i class="fa fa-cubes" aria-hidden="true"></i></div>
						<h4>Supply Chain</h4>
						<p>Providing just-in-time delivery services.
							Warehousing and distribution for medical equipment.
							Managing the full lifecycle of the equipment, from production to delivery.
						</p>	
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<div class="service-icon"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
						<h4>After Sales</h4>
						<p>Warranty management and extended service plans.
							Helpdesk support for troubleshooting issues.
							Spare parts replacement services.
						</p>	
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</div>
	</section>
		<!-- service slider end -->
		
		<!-- Start exhibition Area -->
		<section class="exhibition section" id="blog">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Event Nexus</h2>
							<img src="{% static 'img/section-img.avif' %}" alt="#">
							<!-- <img src="{% static 'img/section-img.png' %}" alt="#"> -->
							<p>Connecting creativity across cities, inspiring endless possibilities.</p>
						</div>
					</div>
				</div>
				<div class="row">
					{% for event in events %}
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{{event.event_img.url}}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">{{event.event_date}}</div>
									<h2>{{event.event_name}}</h2>
									
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
					{% endfor %}
					
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'img/exhibition/delhi.jpg' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">15 Jul, 2020</div>
									<h2>Top five way for solving teeth problems delhi.</h2>
								
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'img/exhibition/chennai.png' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">05 Jan, 2020</div>
									<h2>We provide highly business soliutions.</h2>
								
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
				</div>
			</div>
		</section>
		<!-- End exhibition Area -->

		<!-- exhibition-slider-start -->
		<section class="exhibition section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>OUR EXHIBITION</h2>
							<img src="{% static 'img/section-img.avif' %}" alt="#">
							<!-- <img src="{% static 'img/section-img.png' %}" alt="#"> -->
						</div>
						<div class="testimonial3">
							{% for event in events %}
							<div class="testimonial__item">
								<div class="single-news">
									<div class="news-head">
										<img src="{{event.event_img.url}}" alt="#">
									</div>
									<div class="news-body">
										<div class="news-content">
											<div class="date">{{event.event_date}}</div>
											<h2>{{event.event_name}}</h2>
											
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
							<div class="testimonial__item">
								<div class="single-news">
									<div class="news-head">
										<img src="{% static 'img/exhibition/mumbai.jpg' %}" alt="#">
									</div>
									<div class="news-body">
										<div class="news-content">
											<div class="date">22 Aug, 2020</div>
											<h2>We have annnocuced our new product mumbai.</h2>
											
										</div>
									</div>
								</div>
							</div>
							<div class="testimonial__item">
								<div class="single-news">
									<div class="news-head">
										<img src="{% static 'img/exhibition/mumbai.jpg' %}" alt="#">
									</div>
									<div class="news-body">
										<div class="news-content">
											<div class="date">22 Aug, 2020</div>
											<h2>We have annnocuced our new product mumbai.</h2>
											
										</div>
									</div>
								</div>
							</div>
							<div class="testimonial__item">
								<div class="single-news">
									<div class="news-head">
										<img src="{% static 'img/exhibition/mumbai.jpg' %}" alt="#">
									</div>
									<div class="news-body">
										<div class="news-content">
											<div class="date">22 Aug, 2020</div>
											<h2>We have annnocuced our new product mumbai.</h2>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		 </section>
		<!-- exhibition-slider-end -->

		<!-- certification-slider-start -->
		<section class="client section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>OUR CERTIFICATIONS</h2>
							<img src="{% static 'img/section-img.avif' %}" alt="#">
							<!-- <img src="{% static 'img/section-img.png' %}" alt="#"> -->
						</div>
						<div class="testimonial2">
							<div class="testimonial__item">
								<img src="{% static 'img/certify/iso.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/certify/iso.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/certify/cdsco.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/certify/cdsco.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/certify/ce.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/certify/ce.png' %}" class="testimonial_img"/> -->
							</div>
							<div class="testimonial__item">
								<img src="{% static 'img/certify/iso2.avif' %}" class="testimonial_img"/>
								<!-- <img src="{% static 'img/certify/iso2.png' %}" class="testimonial_img"/> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		 </section>
		<!-- certification-slider-end -->
	
	
	{% endblock %}
